.black-btn {
  border-radius: 15px;
  background: $black-color;
  width: 163px;
  height: 56px;
  color: $alomost-white-color;
  text-align: center;
  font-family: "Epilogue" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.25px;
  border: none;
}
.black-btn:hover {
  background: $alomost-white-color;
  border: 2px solid $black-color;
  transition: 0.4s;
  color: $black-color;
}
.white-btn {
  width: 104px;
  height: 42px;
  border: 2px solid $medium-grey;
  color: $medium-grey;
  font-family: "Epilogue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 14px;
}
.white-btn:hover {
  border: 2px solid $black-color;
  color: $black-color;
  transition: 0.2s;
}
